	body
	{
		padding: 0;
		margin: 0;

		font-family: Helvetica;
	}

	/*
	 * GLOBAL RULES
	 */
	
	@font-face {
		font-family: 'entypo';
		src: url('entypo/entypo.ttf'),
		     url('entypo/entypo.eot'); /* IE9 */
	}

	@blue 		: #35a1d6;
	@blue_5 		: darken(@blue, 5%);
	@blue_10 		: darken(@blue, 10%);
	@blue_15 		: darken(@blue, 15%);
	@blue_25 		: darken(@blue, 25%);
	@blue_5_r		: lighten(@blue, 5%);
	@blue_10_r	: lighten(@blue, 10%);
	@blue_15_r	: lighten(@blue, 15%);
	@blue_20_r	: lighten(@blue, 20%);
	@blue_25_r	: lighten(@blue, 25%);
	@blue_30_r	: lighten(@blue, 30%);
	@blue_50_r	: lighten(@blue, 40%);

	@green 		: #7ba62c;
	@green_5 		: darken(@green, 5%);
	@green_10 		: darken(@green, 10%);
	@green_15 		: darken(@green, 15%);
	@green_25 		: darken(@green, 25%);
	@green_5_r		: lighten(@green, 5%);
	@green_10_r	: lighten(@green, 10%);
	@green_15_r	: lighten(@green, 15%);
	@green_20_r	: lighten(@green, 20%);
	@green_25_r	: lighten(@green, 25%);
	@green_30_r	: lighten(@green, 30%);

	@red 			: #ea3350;
	@red_5 			: darken(@red, 5%);
	@red_10 		: darken(@red, 10%);
	@red_15 		: darken(@red, 15%);
	@red_25 		: darken(@red, 25%);
	@red_5_r		: lighten(@red, 5%);
	@red_10_r		: lighten(@red, 10%);
	@red_15_r		: lighten(@red, 15%);
	@red_20_r		: lighten(@red, 20%);
	@red_25_r		: lighten(@red, 25%);
	@red_30_r		: lighten(@red, 30%);

	@gray 		: #bbb;
	@gray_5 		: darken(@gray, 5%);
	@gray_10 		: darken(@gray, 10%);
	@gray_15 		: darken(@gray, 15%);
	@gray_25 		: darken(@gray, 25%);
	@gray_5_r		: lighten(@gray, 5%);
	@gray_10_r	: lighten(@gray, 10%);
	@gray_15_r	: lighten(@gray, 15%);



	// #ea3350


	.clear
	{
		clear: both;
	}

	.right
	{
		float: right;
	}

	.left
	{
		float: left;
	}


	.acenter
	{
		text-align: center;
	}

	.aright
	{
		text-align: right;
	}

	.aleft
	{
		text-align: left;
	}

	a
	{
		text-decoration: none;
	}

	#container
	{
		height: auto;
		width: 100%;
		// background-color: blue;
		margin: 0 auto;
	}

	#header
	{
		height: auto;
		width: 100%;
		background-color: @blue;
		position: relative;
		border-bottom: 1px solid @blue_5;

		ul#bottom
		{
			// position: absolute;
			// bottom: 10;
			// right: 0;
			float: right;
			margin-right: 2px;
			width: auto;
			// background-color: black;
			padding: 0;
			display: block;
			margin-bottom: 10px;
			margin-top: -15px;

			li
			{
				display: inline;
			    float: left;
			    margin: 0;
			    padding: 0;

				a
				{
					border-bottom: medium none;
				    border-left: 1px solid #5FB5DF;
				    border-right: 1px solid #2484B4;
				    box-shadow: 0 -5px 4px -5px #20759E inset, 0 5px 4px -5px #75BFE3 inset;
				    color: white;
				    font-size: 12px;
				    font-weight: bold;
				    padding: 10px;
				    // padding-bottom: 10px;
				    // height: auto;
				    text-decoration: none;
				    text-shadow: 0 1px 1px #185674;
				    transition: all 0.2s linear 0s;
					
				}

				a:hover
				{
						
					background-color: @blue_10_r;
					// color: @blue_15_r;
				}

				a.active
				{
					// border-bottom: 1px solid white;
					// background-color: white;
					
					background-color: @blue_5;
					box-shadow: inset 0px 0px 5px @blue_15;
				}
			}
		}

		div#logo
		{
			// background-color: red;
			// display: inline;
			height: auto;
			width: 500px;
			margin-top: 10px;
			margin-left: 120px;
			position: relative;

			h3
			{
				// background-color: blue;
				display: inline;
				color: #fff;
				// position: absolute;
				top: 0;
				margin-left: 5px;
				font-weight: bold;
				// margin-top: 100px;
				text-shadow: 1px 1px 1px #555;
			}

			
		}

		#global
		{
			height: auto;
			width: 100%;
			background-color: @blue_15;
			color: white;
			padding: 10px 0px;
			position: relative;
			height: 50px;
			// border-bottom: 1px solid @blue_10;
			box-shadow: 0px 1px 0px @blue;
			// height: 40px;

			#popup
			{
				height: 100;
				width: 200;
				background-color: white;
				position: absolute;
				right: 25px;
				top: 46px;
				box-shadow: 0px 2px 2px #ccc;
				// border: 1px solid #ddd;
				border-top: none;
				padding: 0;
				z-index: 9998;

				img
				{
					width: 75px;
					height: 75px;
					margin-top: 10;
					border: 1px solid #ddd;
				}

				ul	
				{
					margin-left: 95px;
					margin-top: 10px;
					z-index: 99999;

					li
					{
						a
						{
							text-decoration: none;
							color: #999;
							font-size: 10px;
							
							&.head
							{
								font-size: 14px;
								margin-left: 3px;
								color: @blue_15;
								padding-bottom: 7px;
								display: block;
								margin-bottom: 7px;
								border-bottom: 1px solid #ddd;
								margin-right: 15px;
							}

							&:hover
							{
								text-decoration: underline;
								color: @blue_15;
							}

							&:hover i
							{
								text-decoration: none;
							}
						}


						// margin-bottom: 3px;
					}
				}
			}

			
			img
			{
				position: absolute;
				// top:55;
				left: 10;
				top: 0;
				width: 100px;
				margin: 0 auto;
				margin-top: 5px;
				// display: block;

			}

			div.name
			{
				// display: block;
				margin: 0 auto;
				position: absolute;
				top: 10;
				left: 125px;
				font-size: 25px;
				color: white;
				// text-shadow: inset 1px 1px 2px black;
				font-weight: bold;
				// top:170;
				// left:50;
				// font-size: 30px;
				text-align: left;
			}
		
				ul#topmenu, #topuser
				{
					display: inline;
					// background-color: red;
					
					padding: 0;
					margin-left: 20px;

					&#topmenu
					{
						position: absolute;
						right: 10;
						top: 25;
					}
					&#topuser
					{
						position: absolute;
						right: 10;
						top: 35;
					}

					li
					{
						display: inline;

						a
						{
							font-size: 12px;
							text-decoration: none;
							margin-right: 10px;
							color: @blue_5_r;
							color: @blue_25;
							text-shadow: 0px 1px 1px @blue_5;
							color: white;
							text-shadow: 0px 1px 1px @blue_25;
							padding: 5;

							&:hover, &.active
							{
								color: white;
								text-shadow: 0px 1px 1px @blue_25;
								text-decoration: underline;
								// text-shadow: 0px 0px 10px white;
							}

							i
							{
								margin-right: 5px;
							}

							&:hover i, &.active i
							{
								text-decoration: none;
							}

							&.active_popup
							{
								background-color: white;
								// padding-right: 5;
								padding: 5;
								color: @blue_15;
								text-shadow: none;
								z-index: 999;

								// &:hover
								// {
								// 	cursor: pointer;
								// }
							}
							&#user:hover
							{
								cursor: pointer;

							}
							

						}


					}
				}
			
		}
	}

	#content
	{
		position: relative;
		min-height: 300px;
		height: auto;
		// background-color: black
	}

	#sidebar
	{
		// position: absolute;
		// left: 0;
		float: left;
		height: auto;
		border-right: 1px solid #ddd;
		// box-shadow
		// background-color: green;
		
		width: 20%;
		padding-top: 53px;
		padding-bottom: 21px;

		// box-shadow: 1px 0px 15px -2px #888;

		ul
		{
			// width: 90%;
			// display: block;
			// margin: 0 auto;

			li
			{
				a
				{
					// background-color: #ccc;
					display: block;
					text-decoration: none;
					color: #444;
					font-weight: bold;
					font-size: 11px;
					padding: 5px 10px 5px 10px;
					border-bottom: 1px solid #eee;

					-moz-transition: all 0.2s linear;
					-webkit-transition: all 0.2s linear;
					-o-transition: all 0.2s linear;
					transition: all 0.2s linear;

					position: relative;

					.triangle {
					  border-color: transparent white transparent transparent;
					  border-style:solid;
					  border-width:8px;
					  width:0;
					  height:0;
					  top: 8;
					  right: -2;
					  position: absolute;
					}

					i
					{
						position: absolute;
						left: 10;
					}

					padding-left: 30px;
					line-height: 20px
				}

				a.first
				{
					border-top: 1px solid #eee;
				}

				a.head
				{
					background-color: #eee;
					padding-left: 10px;
					color: #888;
					margin-bottom: 10px;
					margin-top: 10px;

					border-top: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
					

					&:hover
					{
						background-color: #ddd;
					}
				}

				a:hover
				{
					// background-color: #eee;
					color: @blue;
				}

				a.active
				{
					color: white;
					background-color: @blue;
					// color: @blue_10;
				}

				
			}
		}
	}

	#mainbar
	{
		float: left;
		height: 400px;
		// background-color: grey;
		width: 74%;
		display: block;
	}

	#inner
	{
		width: 97%;
		// background-color: black;
		height: 400px;
		padding: 20px;

		
			h3
			{
				display: block;
				// color: red;
				font-weight: bold;
				border-bottom: 1px solid #ddd;
				padding-bottom: 15px;
				font-size: 20px;
				color: @blue_15;
			}
		
		.well
		{
			width: 100%;
			height: auto;
			background-color: #efefef;
			margin: 10px 0 10px 0;
			font-size: 14px;
			padding: 10px;
			border: 1px solid #ddd;

			.head
			{
				width: 100%;
				font-weight: bold;
				color: #444;
				border-bottom: 1px solid #ddd;
				// box-shadow: 1px 1px 1px black;
				padding: 5px 0 10px 0;
			}
		}

		table.data
		{
			width: 100%;

			thead
			{
				padding: 10px 0 10px 0;
				background-color: #efefef;
				font-size: 14px;
				color: #444;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				// display: block;
				width: 100%;
				font-weight: bold;

				tr
				{
					th
					{
						padding: 10px 0 10px 0;
					}
				}
			}

			tbody
			{
				font-size: 13px;
				tr
				{
					padding: 5px;
					border-bottom: 1px dashed #ddd;

					&:hover
					{
						background-color: @blue_50_r;
						cursor: pointer;
					}

					td
					{
						padding: 5px;
						vertical-align: middle;
						height: 40px;
						font-size: 12px;
					}
				}
			}
		}
		.notif
		{
			width: 100%;
			padding: 10px;
			background-color: #bbb;
			display: block;
			font-size: 12px;
			margin: 10px 0 10px 0;

			&.success
			{
				background-color: @green_30_r;
				color: @green_15;
				border: 1px solid @green_10_r;
			}

			&.failure
			{
				background-color: @red_30_r;
				color: @red_15;
				border: 1px solid @red_10_r;
			}

			&.warning
			{
				background-color: @green_30_r;
				color: @green_15;
				border: 1px solid @green_10_r;
			}

			&.info
			{
				background-color: @blue_30_r;
				color: @blue_15;
				border: 1px solid @blue_10_r;
			}
		}
		button
		{
			padding: 8px 10px;
			font-weight: bold;
			// margin: 0 5px 0 5px	;
			// border-radius: 5px;

			&:hover
			{
				cursor: pointer;
			}

			&.neutral
			{
				border: 1px solid @gray_15_r;
				background-color: @gray;
				color: white;
				// box-shadow: inset 0px -15px 0px -1px @gray_10, 0px 0px 0px 1px @gray_10;
				box-shadow: 0px 0px 0px 1px @gray_10;

				&:hover
				{
					
					border: 1px solid @gray_5;
					background-color: @gray_15;
					// box-shadow: inset 0px -15px 0px -1px @gray_15, 0px 0px 0px 1px @gray_25;
					box-shadow: 0px 0px 0px 1px @gray_25;
				}
			}

			&.positive
			{
				border: 1px solid @green_15_r;
				background-color: @green;
				color: white;
				// box-shadow: inset 0px -15px 0px -1px @green_10, 0px 0px 0px 1px @green_10;
				box-shadow: 0px 0px 0px 1px @green_10;

				&:hover
				{
					
					border: 1px solid @green_5;
					background-color: @green_15;
					// box-shadow: inset 0px -15px 0px -1px @green_15, 0px 0px 0px 1px @green_25;
					box-shadow: 0px 0px 0px 1px @green_25;
				}
			}

			&.negative
			{
				border: 1px solid @red_15_r;
				background-color: @red;
				color: white;
				// box-shadow: inset 0px -15px 0px -1px @red_10, 0px 0px 0px 1px @red_10;
				box-shadow: 0px 0px 0px 1px @red_10;

				&:hover
				{
					
					border: 1px solid @red_5;
					background-color: @red_15;
					// box-shadow: inset 0px -15px 0px -1px @red_15, 0px 0px 0px 1px @red_25;
					box-shadow: 0px 0px 0px 1px @red_25;
				}
			}

			&.default
			{
				border: 1px solid @blue_15_r;
				background-color: @blue;
				color: white;
				// box-shadow: inset 0px -15px 0px -1px @blue_10, 0px 0px 0px 1px @blue_10;
				box-shadow: 0px 0px 0px 1px @blue_10;

				&:hover
				{
					
					border: 1px solid @blue_5;
					background-color: @blue_15;
					// box-shadow: inset 0px -15px 0px -1px @blue_15, 0px 0px 0px 1px @blue_25;
					box-shadow: 0px 0px 0px 1px @blue_25;
				}
			}
		}

		form
		{
			label
			{
				color: #444;
				font-size: 12px;
			}

			input, select
			{
				border: 1px solid #ccc;
				height: 25px;
				background-color: white;
				width: 300px;
			}

			table
			{
				tr
				{
					margin: 10px 0 10px 0;
					display: block;

					td.field_name
					{
						width: 200px;
					}

					td.input
					{
						input
						{
							padding-left: 5px;
						}
					}
				}
			}
		}
	}

	#footer
	{
		background-color: @blue_15;
		border-top: 5px solid @blue;
		border-bottom: : 1px solid #ddd;
		height: 50px;

		span
		{
			display: block;
			margin: 0 auto;
			text-align: center;
			font-size: 12px;
			margin-top: 20px;
			color: white;
			text-shadow: 0px 1px 0px @blue_25;

			b
			{
				font-weight: bold;
			}
		}
	}
	// #sidebar
	// {
	// 	float: left;
	// 	width: 20%;
	// 	background-color: green;
	// 	height: 130px;
	// }

	// #content
	// {
	// 	float: right;
	// 	width: 80%;
	// 	background-color: black;
	// 	height: 130px;
	// }

