	body
	{
		padding: 0;
		margin: 0;

		font-family: Helvetica;
	}

	/*
	 * GLOBAL RULES
	 */
	
	@font-face {
		font-family: 'entypo';
		src: url('entypo/entypo.ttf'),
		     url('entypo/entypo.eot'); /* IE9 */
	}

	@dark_blue 		: #35a1d6;
	@dark_blue_5 		: darken(@dark_blue, 5%);
	@dark_blue_10 		: darken(@dark_blue, 10%);
	@dark_blue_15 		: darken(@dark_blue, 15%);
	@dark_blue_25 		: darken(@dark_blue, 25%);
	@dark_blue_5_r		: lighten(@dark_blue, 5%);
	@dark_blue_10_r	: lighten(@dark_blue, 10%);
	@dark_blue_15_r	: lighten(@dark_blue, 15%);


	.clear
	{
		clear: both;
	}

	.right
	{
		float: right;
	}

	#container
	{
		height: auto;
		width: 100%;
		// background-color: blue;
		margin: 0 auto;
	}

	#header
	{
		height: 111px;
		width: 100%;
		background-color: @dark_blue;
		position: relative;
		border-bottom: 1px solid @dark_blue_5;

		ul#bottom
		{
			// position: absolute;
			bottom: 12;
			right: 0;
			float: right;
			margin-right: 2px;
			width: auto;
			// background-color: black;
			padding: 0;

			li
			{
				display: inline;
				padding: 0;
				margin: 0;

				a
				{
					text-decoration: none;
					font-size: 12px;
					padding: 15px 15px 15px 15px;
					// border: 1px solid @dark_blue;
					color: @dark_blue_10;
					border-bottom: none;
					font-weight: bold;
					border-right: 1px solid @dark_blue_10;
					border-left: 1px solid @dark_blue_10_r;
					margin: -2;
					color: white;
					text-shadow: 0px 1px 1px @dark_blue_25;
					-moz-transition: all 0.2s linear;
					-webkit-transition: all 0.2s linear;
					-o-transition: all 0.2s linear;
					transition: all 0.2s linear;
					// font-family: entypo;
					box-shadow: inset 0 -5px 4px -5px @dark_blue_15, inset 0 5px 4px -5px @dark_blue_15_r;
					
				}

				a:hover
				{
						
					background-color: @dark_blue_10_r;
					// color: @dark_blue_15_r;
				}

				a.active
				{
					// border-bottom: 1px solid white;
					// background-color: white;
					
					background-color: @dark_blue_5;
					box-shadow: inset 0px 0px 5px @dark_blue_15;
				}
			}
		}

		div#logo
		{
			// background-color: red;
			// display: inline;
			height: auto;
			width: 500px;
			margin-top: 10px;
			margin-left: 120px;
			position: relative;

			h3
			{
				// background-color: blue;
				display: inline;
				color: #fff;
				position: absolute;
				top: 4;
				margin-left: 5px;
				font-weight: bold;
				// margin-top: 100px;
				text-shadow: 1px 1px 1px #555;
			}

			
		}

		#global
		{
			height: auto;
			width: 100%;
			background-color: @dark_blue_15;
			color: white;
			padding: 10px 0px;
			position: relative;
			height: 50px;
			// border-bottom: 1px solid @dark_blue_10;
			box-shadow: 0px 1px 0px @dark_blue;
			// height: 40px;

			
			img
			{
				position: absolute;
				// top:55;
				left: 10;
				top: 0;
				width: 100px;
				margin: 0 auto;
				margin-top: 5px;
				// display: block;

			}

			div.name
			{
				// display: block;
				margin: 0 auto;
				position: absolute;
				top: 10;
				left: 125px;
				font-size: 25px;
				color: white;
				// text-shadow: inset 1px 1px 2px black;
				font-weight: bold;
				// top:170;
				// left:50;
				// font-size: 30px;
				text-align: left;
			}
		
				ul#topmenu, #topuser
				{
					display: inline;
					// background-color: red;
					
					padding: 0;
					margin-left: 20px;

					&#topuser
					{
						position: absolute;
						right: 10;
						top: 15;
					}
					&#topmenu
					{
						position: absolute;
						right: 10;
						top: 35;
					}

					li
					{
						display: inline;

						a
						{
							font-size: 12px;
							text-decoration: none;
							margin-right: 10px;
							color: @dark_blue_5_r;
							color: @dark_blue_25;
							text-shadow: 0px 1px 1px @dark_blue_5;
							color: white;
							text-shadow: 0px 1px 1px @dark_blue_25;

							&:hover, &.active
							{
								color: white;
								text-shadow: 0px 1px 1px @dark_blue_25;
								// text-decoration: underline;
								text-shadow: 0px 0px 10px white;
							}

						}
					}
				}
			
		}
	}

	#content
	{
		position: relative;
		min-height: 300px;
		height: auto;
		// background-color: black
	}

	#sidebar
	{
		// position: absolute;
		// left: 0;
		float: left;
		height: auto;
		border-right: 1px solid #ddd;
		// box-shadow
		// background-color: green;
		
		width: 20%;
		padding-top: 53px;
		padding-bottom: 21px;

		// box-shadow: 1px 0px 15px -2px #888;

		ul
		{
			// width: 90%;
			// display: block;
			// margin: 0 auto;

			li
			{
				a
				{
					// background-color: #ccc;
					display: block;
					text-decoration: none;
					color: #444;
					font-weight: bold;
					font-size: 11px;
					padding: 10px;
					border-bottom: 1px solid #eee;

					-moz-transition: all 0.2s linear;
					-webkit-transition: all 0.2s linear;
					-o-transition: all 0.2s linear;
					transition: all 0.2s linear;

					position: relative;

					.triangle {
					  border-color: transparent white transparent transparent;
					  border-style:solid;
					  border-width:8px;
					  width:0;
					  height:0;
					  top: 8;
					  right: -2;
					  position: absolute;
					}
				}

				a.first
				{
					border-top: 1px solid #eee;
				}

				a.head
				{
					background-color: #eee;
					padding-left: 10px;
					color: #888;
					margin-bottom: 10px;
					margin-top: 10px;

					border-top: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
					

					&:hover
					{
						background-color: #ddd;
					}
				}

				a:hover
				{
					// background-color: #eee;
					color: @dark_blue;
				}

				a.active
				{
					color: white;
					background-color: @dark_blue;
					// color: @dark_blue_10;
				}

				
			}
		}
	}

	#mainbar
	{
		float: left;
		height: 400px;
		// background-color: grey;
		width: 74%;
		display: block;
	}

	#inner
	{
		width: 97%;
		// background-color: black;
		height: 400px;
		padding: 20px;

		
			h3
			{
				display: block;
				// color: red;
				font-weight: bold;
				border-bottom: 1px solid #ddd;
				padding-bottom: 15px;
				font-size: 20px;
				color: @dark_blue_15;
			}
		
	}

	#footer
	{
		background-color: @dark_blue_15;
		border-top: 5px solid @dark_blue;
		border-bottom: : 1px solid #ddd;
		height: 50px;

		span
		{
			display: block;
			margin: 0 auto;
			text-align: center;
			font-size: 12px;
			margin-top: 20px;
			color: white;
			text-shadow: 0px 1px 0px @dark_blue_25;

			b
			{
				font-weight: bold;
			}
		}
	}
	// #sidebar
	// {
	// 	float: left;
	// 	width: 20%;
	// 	background-color: green;
	// 	height: 130px;
	// }

	// #content
	// {
	// 	float: right;
	// 	width: 80%;
	// 	background-color: black;
	// 	height: 130px;
	// }

